.page {
    display: flex;
    position: static;
    left: 500px;
    padding-top: 0%;
    border: 20px;
    text-align: center;
  }

.page h1 {
    display: flex;
    text-align: center;
    border: 50px;
}