.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.sidenav {
  width: 300px;
  height: 100vh;
  position: fixed;
  z-index: 1;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  margin: 10px;
  
}

.sidenav p{
  font-size: large;
  padding: 2px, 1px, 2px, 5px;
  text-align: center;
  text-decoration: none;
  display: block;
  color: #0040ff;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #0040ff;
  display: block;
  text-align: center;
}
